@charset "ISO-8859-1";

.logo {
	width: 100%;
	height: auto;
	background-color: lightgray;
	padding-left: 7%;
	padding-top: 1%;
	padding-bottom: 4%;
	padding-right: 1%;
	margin-bottom: 2%;
}

.form-horizontal {
	width: 20%;
	height: auto;
	border: 1px solid lightgray;
	padding: 1%;
	margin: auto;
	border-radius: 0 0 5px 5px;
}

.text {
	width: 20%;
	height: auto;
	padding-left: 1%;
	margin: auto;
	border: 1px solid lightgray;
	background-color: ghostwhite;
	border-radius: 5px 5px 0 0;
}