<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="vi-VN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<link th:rel="stylesheet" th:href="@{resources/static/css/login.css}" />
<title>Login Admin</title>
</head>

<body>
	<div>
		<div class="logo">
			<h1 style="font-size: 400%">Freetuts.net</h1>
		</div>
		<div class="text">
			<h4>Please sign in</h4>
			
		</div>
		<form class="form-horizontal"
			th:action="@{/login}"  method="post">
			<div class="form-group">
				<div class="col-md-12">
					<input type="text" class="form-control" id="username"
						name="username" required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<input type="password" class="form-control" id="pwd" name="pwd"
						required />
				</div>
			</div>
			<div class="form-group" style="color: red; margin-bottom: 20px;">
				<div class="col-md-12"><p th:if="${loginError}" class="error">Wrong user or password. Try again</p></div>
			</div>
			<button type="submit" class="btn btn-primary"
				style="width: 100%; height: 40px; margin-top: -15px;">Login</button>
		</form>
	</div>
	<script type="text/javascript"
		src="${pageContext.request.contextPath}/FE/js/loginProp.js"></script>
</body>

</html>