@charset "ISO-8859-1";

.logo {
	width: 30%;
	height: auto;
	background-color: rgb(211, 211, 211);
	text-align:center;
	margin:auto;
}

.form-horizontal {
	width: 30%;
	height: auto;
	border: 1px solid lightgray;
	padding: 1%;
	margin: auto;
	border-radius: 0 0 5px 5px;
	
}

.text {
	width: 30%;
	height: auto;
	padding-left: 1%;
	margin: auto;
	border: 1px solid lightgray;
	background-color: ghostwhite;
	border-radius: 5px 5px 0 0;
	margin-top:80px;
}