@charset "ISO-8859-1";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
    background: #ffffff;
}

#home-section {
	background: url("../images/keyboard.jpeg") no-repeat;
	min-height: 700px;
	background-size: cover;
	background-attachment: fixed;
}

#home-section .dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px; }

#home-section .home-inner {
	padding-top: 150px;
}

#navbar-home{
	border-bottom:#008ed6 3px solid;
	opacity:0.8;
}

#users-nav-item .nav-item{
	margin: 0px 5px;
}

#shopping-cart-icon{
	font-size: 30px;
	background-color: transparent;

}

#shopping-cart-collapse{
	max-width: 180px;
}

.global-errors{
	list-style-type: none;
	padding: 0px;
}

#login-form{
    margin-top: 150px;
}

#registration-form{
    margin-top: 150px;
}


/*region Admin page*/
/*================================================================*/
#admin-section {
    /*background: url("../images/code1.jpeg") no-repeat;*/
    min-height: 100%;
    /*margin-bottom:;*/
    background-size: cover;
    background-attachment: fixed;
	padding-bottom: 25px;
}

#admin-sidebar{
    margin-top: 70px;
    /*min-height:95vh;*/
	border-radius: 3%;
}

#admin-content {
    padding-top: 75px;
    color: #333;
	width: 85%;
}

#remove-link{
	cursor: pointer;
}

#admin-content .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%; }


.edit-btn{
	color: darkslategrey;
}

#admin-sidebar{
	width: 20%;
	margin-right: 20px;
}

.admin-form{
	width: 70%;
}

.thead{
	background-color: darkslategrey !important;
	color: white;
}

th {
	cursor: pointer;
}

#pageSizeSelect{
	width: 50px;
	padding: 0;
	margin: 0;
}

#search-user-dropdown{
	font-size: 15px;
}

#user-table{
	width: 100%;
}
/*================================================================*/
/*endregion*/


/*region Footer*/
/*================================================================*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* fixed height of the footer  */
	line-height: 60px; /* Vertically center the text there */
    color: darkgrey;
}
/*================================================================*/
/*endregion*/