<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/head :: head"> 

</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row">

                <!--Admin sidebar-->
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <!--Admin content-->
                <div id="admin-content">
                    <div class="row mb-2">
                        <div class="col-lg-9 d-flex flex-wrap align-content-start">
                            <!--Search user-->
                            <div class="row col-lg-12 d-flex flex-nowrap pb-2">
                                <div class="input-group">
                                    <select class="custom-select" id="search-user-dropdown" onchange="saveSearchParameters(this);">
                                        <option value="username">username</option>
                                        <option value="password">password</option>
                                        <option value="role">role</option>
                                        <option value="fullname">fullname1</option>
                                    </select>
                                    <input type="text" id="searchUserBar"
                                           onkeyup='saveSearchParameters(this);'
                                           placeholder="Search for users.." class="form-control"
                                           aria-label="Text input with dropdown button">
                                </div>
                                <button type="button" class="btn btn-secondary ml-2" onclick="searchUserByProperty()">Search</button>
                            </div>

                            <div class="row col-lg-12">
                                <!--Table with users-->
                                <table class="table table-striped table-responsive" id="user-table">
                                    <thead class="thead">
                                    <tr>
                                        <th onclick="sortTable(0)">username</th>
                                        <th onclick="sortTable(1)">writing_field</th>
                                        <th onclick="sortTable(2)">role</th>
                                        <th onclick="sortTable(3)">fullname</th>
                                        <th onclick="sortTable(4)">current_job</th>
                                       
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                     <tbody id="user-table-body">
                                    <tr th:each="account : ${accountList}">
                                        <td th:text="${account.username}"></td>
                                        <td th:text="${account.writing_field}"></td>
                                        <td th:text="${account.role}"></td>
                                        <td th:text="${account.fullname}"></td>
                                        <td th:text="${account.current_job}"></td>
                    

                                        <!--Edit user button-->
                                        <td><a style="text-decoration: none; color:blue"
                                               th:href="@{/adminPage/users/{username}(username=${account.username})}"
                                               class="editBtn" data-toggle="tooltip"
                                               data-placement="right" title="Edit user">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        </td>

                                        <!--Remove user button-->
                                        <td>
                                            <a id="remove-link" style="text-decoration: none; color:red"
                                               data-toggle='modal' data-target='#deleteModal'
                                               data-placement="right" title="Remove user"
                                               th:onclick="'setRowIndexAndUserId(this, ' + ${account.username} + ')'">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:replace="fragments/deleteUserModal :: delete-user-modal"></div>
                        </div>

                        <div class="col-lg-3 pl-0">
                            <!--Delete success message-->
                            <div id="alert-messages"></div>

                            <!--Save success message-->
                            <div th:if="${userHasBeenSaved}" class="alert alert-success alert-dismissible fade show"
                                 role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Well done!</strong> User has been saved!!!
                            </div>

                            <!--Update success message-->
                            <div th:if="${userHasBeenUpdated}" class="alert alert-success alert-dismissible fade show"
                                 role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Well done!</strong> User has been updated!!!
                            </div>

                            <!--Number format exception message-->
                            <div th:if="${numberFormatException}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                Please enter a valid number
                            </div>

                            <!--No matches found message-->
                            <div th:if="${noMatches}" class='alert alert-info alert-dismissible fade show' role='alert'>
                                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                                    <span aria-hidden='true'>&times;</span>
                                </button>
                                    Sorry, no matches found for <span th:text="${usersProperty}"></span> = <span th:text="${propertyValue}"></span>
                            </div>
                        </div>
                    </div>

                    <a href="#" th:href="@{/adminPage/users/newUser}">
                        <button type="button" class="btn btn-primary">New User</button>
                    </a>


                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>


<div th:replace="fragments/jsScripts :: scripts"></div>


</body>
</html>
